
.hero-section {
  background: #f6f6ff;
  padding: 80px 0;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 20px;
}

.hero-text {
  flex: 1;
  min-width: 300px;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 15px;
}

.hero-text span {
  color: #4a3aff;
}

.hero-text p {
  color: #555;
  margin-bottom: 25px;
  line-height: 1.6;
}

.cta-button {
  background-color: #4a3aff;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta-button:hover {
  background-color: #372ee6;
  transform: scale(1.05);
}

.hero-image img {
  width: 260px;
  height: auto;
  border-radius: 20px;
}


.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 22px;
  max-width: 1100px;        
  margin: 30px auto;       
  padding: 0 10px;
}


.category-card {
  display: flex;
  flex-direction: column;
  padding: 18px 20px;
  border-radius: 16px;
  text-decoration: none;
  color: #222;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.25s ease;
  min-height: 220px;  
}
.categories-section h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}



.cat-info h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.category-card img {
  width: 120px;
  margin: 5px auto 10px;
  display: block;
}


.progress-box {
  margin-top: 5px;
  text-align: center;
}


.bar {
  width: 100%;
  height: 9px;
  background: rgba(0,0,0,0.15);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 4px;
}

.bar .fill {
  height: 100%;
  background: #6c4eff;
  border-radius: 10px;
  transition: width 0.3s ease;
}


.progress-box p {
  margin: 0;
  font-size: 0.85rem;
  font-weight: 600;
  color: #333;
}


@media (max-width: 900px) {
  .category-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 500px) {
  .category-grid {
    grid-template-columns: 1fr; 
  }

  .category-card {
    padding: 16px;
  }

  .category-card img {
    width: 100px;
  }
}




.benefits-section {
  padding: 100px 0;
  background: #fafaff;
  text-align: center;
}

.benefit-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.benefit-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 25px;
  width: 280px;
  transition: 0.3s;
}

.benefit-card:hover {
  transform: translateY(-6px);
}


.cta-section {
  text-align: center;
  padding: 100px 20px;
  background: #f6f6ff;
}

.cta-section h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.cta-section p {
  color: #666;
  margin-bottom: 25px;
}