:host {
  display: block;
  min-height: 100vh; 
  width: 100%;
  background: linear-gradient(135deg, #abfaed, #e0f8f7);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 25px;                             
  justify-items: center;                 
  padding: 40px 0;                       
  width: 100%;
  max-width: 1000px;                    
  margin: 0 auto;  
}



/* Dark transparent background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

/* pop up card container */
.popup-card {
  position: fixed;
  top: 20%;
  left: 40%;
  width: 400px;
  max-width: 90%;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  z-index: 101;
  transition: transform 0.3s ease;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

/* Scale up when visible */
.popup-card.ng-star-inserted {
  transform: translate(-50%, -50%) scale(1);
}

.popup-card img {
  width: 15%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.popup-card video {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
.popup-card h2 {
  margin: 10px 0;
}

.popup-card p {
  font-size: 14px;
  color: #555;
}

