<h2 class="category-title">{{ categoryName  }}</h2>

<div class="category-progress" *ngIf="cards?.length">
  <div class="bar">
    <div class="fill" [style.width.%]="progress"></div>
  </div>
  <p>{{ learnedCount }} / {{ cards.length }}</p>
</div>


<div class="cards-container">
  <ng-container *ngFor="let card of cards">
    <app-card
      [name]="card.name"
      [image]="card.image"
      [id]="card.id"
      (click)="openPopup(card)"
    ></app-card>
  </ng-container>
</div>


<div *ngIf="showPopup">
  <div class="overlay" (click)="closePopup()"></div>
  <div class="popup-card">
    <img [src]="selectedCard.image" alt="{{ selectedCard?.name }}" />
    <h3>{{ selectedCard?.name }}</h3>
    <video [src]="selectedCard.video" type="video/mp4" (click)="play()" #Video></video>
    <button (click)="toggleLearned(selectedCard)">Learned</button>
  </div>
</div>


<div *ngIf="showToast" class="toast">
  Word marked as learned!
</div>
